client-ssl.properties
target
.idea
.DS_Store
keys
out
.gradle
build/
bin/
.vscode/
src/main/resources/client.properties
src/main/resources/ca.pem
src/main/resources/client.keystore.p12
src/main/resources/client.truststore.jks
src/main/resources/service.cert
src/main/resources/service.key
